---
# What container runtime do we use?
# valid values:
# - docker
# - crio
container_runtime: docker

# Which version of crio?
# (doesn't matter if docker is container runtime)
crio_version: v1.0.0-rc1

# Pod net work types
# A value of "none" will create no networking and will not join nodes to cluster.
# Valid values:
# - flannel
# - weave
# - none
# - multus
pod_network_type: "flannel"
pod_network_cidr: "10.244.0.0"

# General config

# At 1.7.2 you need this cause of a bug in kubeadm join.
# Turn it off later, or, try it if a join fails.
skip_preflight_checks: true

# Stable. (was busted at 1.6 release, may work now, untested for a couple months)
kube_baseurl: http://yum.kubernetes.io/repos/kubernetes-el7-x86_64
kube_version: 1.7.5-0

# Unstable
# kube_baseurl: http://yum.kubernetes.io/repos/kubernetes-el7-x86_64-unstable

images_directory: /home/images
bridge_name: virbr0
virtual_machines:
  - kube-master
  - kube-node-1
  - kube-node-2
  - kube-node-3
vm_parameters_ram_mb: 2048
vm_parameters_cpus: 4

# Implement a work-around for this:
# https://github.com/kubernetes/kubernetes/issues/43815
kube_16_workaround: false

# --------------------------- -
# multus-cni vars          - -
# ------------------------- -
multus_ipam_subnet: "192.168.122.0/24"
multus_ipam_rangeStart: "192.168.122.200"
multus_ipam_rangeEnd: "192.168.122.216"
multus_ipam_gateway: "192.168.122.1"

# ----------------------------
# glusterfs vars
# ----------------------------

# Hey what's that treeish?
# It's the last known point Doug knows is good.
# e.g. https://github.com/gluster/gluster-kubernetes/commit/e7799c152bf456dd7692bcb7c86bcef422c7b6c8
gluster_kubernetes_version: "e7799c152bf456dd7692bcb7c86bcef422c7b6c8"
gluster_attach_disk: true
# New heketi image version gave Doug some trouble @ https://github.com/gluster/gluster-kubernetes/issues/363
heketi_image_name: heketi/heketi:4

# Disk sizes (for virtual machines)
spare_disk_size_megs: 10240
spare_disk_location: "/var/lib/libvirt/images"
spare_disk_dev: vdb
# Default size is megs, "2G" would be 2 gigs.
# This is likely deprecated, Doug (9/25/17)
brick_size: "1980"

# ----------------------------
# virt-host vars.
# ----------------------------
# Enables a bridge to the outside LAN
# (as opposed to using virbr0)
bridge_networking: true
bridge_physical_nic: "enp1s0f1"
bridge_network_name: "br0"
bridge_network_cidr: 192.168.1.0/24
