apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: flannel-conf
plugin: flannel
spec: 
  config: '[
  {
    "name": "flannel.1",
    "delegate": {
      "isDefaultGateway": true
    }
  }
]'
