apiVersion: "kubernetes.cni.cncf.io/v1"
kind: Network
metadata:
  name: macvlan-conf
spec: 
  config: '{
            "cniVersion": "0.3.0",
            "type": "macvlan",
            "master": "{{ multus_macvlan_master }}",
            "name": "macvlan.1",
            "mode": "bridge",
            "ipam": {
                "type": "host-local",
                "subnet": "{{ multus_ipam_subnet }}",
                "rangeStart": "{{ multus_ipam_rangeStart }}",
                "rangeEnd": "{{ multus_ipam_rangeEnd }}",
                "routes": [
                    { "dst": "0.0.0.0/0" }
                ],
                "gateway": "{{ multus_ipam_gateway }}"
            }
        }'
