*.retry

# ignore inventory except for the example inventory (allow for override)
inventory/*
!inventory/examples/

# ignore externally installed roles
roles/install-go
roles/install-docker
roles/auto-kube-dev
roles/redhat-nfvpe.vm-spinup
roles/redhat-nfvpe.prometheus-operator
