{% for volume in gluster_volumes %}
apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "{{ volume.metadata.name }}"
spec:
  capacity:
    storage: "{{ volume.spec.capacity.storage }}"
  persistentVolumeReclaimPolicy: "{{ volume.spec.reclaim_policy }}"
  storageClassName: "{{ volume.spec.storage_class_name }}"
  accessModes:
    - "ReadWriteOnce"
  glusterfs:
    endpoints: "{{ volume.spec.glusterfs.endpoints }}"
    path: "{{ volume.spec.glusterfs.path }}"
    readOnly: {{ volume.spec.glusterfs.read_only }}
---
{% endfor %}
