apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "gluster-volume-1"
spec:
  capacity:
    storage: "600Mi"
  persistentVolumeReclaimPolicy: "Delete"
  accessModes:
    - "ReadWriteMany"
  glusterfs:
    endpoints: "glusterfs-cluster"
    path: "glustervol1"
    readOnly: false
---
apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "gluster-volume-2"
spec:
  capacity:
    storage: "300Mi"
  persistentVolumeReclaimPolicy: "Delete"
  accessModes:
    - "ReadWriteMany"
  glusterfs:
    endpoints: "glusterfs-cluster"
    path: "glustervol1"
    readOnly: false
---
apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "gluster-volume-3"
spec:
  capacity:
    storage: "300Mi"
  persistentVolumeReclaimPolicy: "Delete"
  accessModes:
    - "ReadWriteMany"
  glusterfs:
    endpoints: "glusterfs-cluster"
    path: "glustervol1"
    readOnly: false
---
apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "gluster-volume-4"
spec:
  capacity:
    storage: "100Mi"
  persistentVolumeReclaimPolicy: "Delete"
  accessModes:
    - "ReadWriteMany"
  glusterfs:
    endpoints: "glusterfs-cluster"
    path: "glustervol1"
    readOnly: false
---
apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "gluster-volume-5"
spec:
  capacity:
    storage: "100Mi"
  persistentVolumeReclaimPolicy: "Delete"
  accessModes:
    - "ReadWriteMany"
  glusterfs:
    endpoints: "glusterfs-cluster"
    path: "glustervol1"
    readOnly: false
---
