{% for key, value in vm_ips_dict.iteritems() %}
{{ key }} ansible_host={{ value }}
{% endfor %}

{% for grouper, list in virtual_machines|groupby('node_type') %}
[{{ grouper }}]
{% for server in list %}
{{ server.name }}
{% endfor %}

{% endfor %}
{% if ipv6_enabled %}
[ipv6-lab]
{% for vm in virtual_machines %}
{{ vm.name }}
{% endfor %}
{% endif %}

[all:vars]
ansible_user=centos
{% if ssh_proxy_enabled %}
ansible_ssh_common_args='-o ProxyCommand="ssh{% if ssh_proxy_port is defined %} -p {{ ssh_proxy_port }}{% endif %} -W %h:%p {{ ssh_proxy_user }}@{{ ssh_proxy_host }}"'
{% endif %}
{% if vm_ssh_key_path is defined %}
ansible_ssh_private_key_file={{ vm_ssh_key_path }}
{% endif %}
