{% for key, value in vm_ips_dict.iteritems() %}
{{ key }} ansible_host={{ value }}
{% endfor %}

[master]
kube-master

[minions]
kube-minion-1
kube-minion-2
kube-minion-3

[all_vms]
kube-master
kube-minion-1
kube-minion-2
kube-minion-3

[all_vms:vars]
ansible_user=centos
ansible_become=true
ansible_become_user=root
{% if ssh_proxy_enabled %}
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p {{ ssh_proxy_user }}@{{ ssh_proxy_host }}"'
{% endif %}
{% if vm_ssh_key_path is defined %}
ansible_ssh_private_key_file={{ vm_ssh_key_path }}
{% endif %}
