---
# Alright we're using the kubeadm init
# You can reset this with:
#  [root@kube-master centos]# kubeadm --help | grep reset
#    reset       Run this to revert any changes made to this host by 'kubeadm init' or 'kubeadm join'.

- name: create kubeadm config file
  block:
    - name: Install jq binary
      get_url:
        url: https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64
        dest: /usr/bin/jq

    - name: set jq binary permission
      file:
        path: /usr/bin/jq
        mode: 0755

    - name: check kubeadm version (major)
      shell: >
        kubeadm version -o json | jq -r .clientVersion.major
      register: kubeadm_version_major

    - name: check kubeadm version (minor)
      shell: >
        kubeadm version -o json | jq -r .clientVersion.minor
      register: kubeadm_version_minor

    - name: create kubeadm config file (<= 1.12)
      template:
        src: kubeadm.cfg.v1alpha.j2
        dest: /root/kubeadm.cfg
      when: kubeadm_version_minor.stdout|int <= 12

    - name: create kubeadm config file (>= 1.13)
      template:
        src: kubeadm.cfg.v1beta.j2
        dest: /root/kubeadm.cfg
      when: kubeadm_version_minor.stdout|int >= 13

- name: Default cri-o flags to empty
  set_fact:
    arg_crio: ""

- name: Set cri-o flags
  set_fact:
    arg_crio: "--ignore-preflight-errors=all"
  when: container_runtime == "crio"

- name: Default k8s version to empty
  set_fact:
    k8s_version: ""

- name: Set custom Kubernetes version when installing via artifacts
  set_fact:
    k8s_version: "--kubernetes-version {{ kube_version }}"
  when: artifacts_install

# Was trying to use flannel and running with:
#     kubeadm init > /etc/kubeadm.init.txt
# abandonded for now...
- name: Run kubeadm init
  shell: >
    kubeadm init {{ k8s_version }} {{ arg_crio }} --config=/root/kubeadm.cfg > /var/log/kubeadm.init.log
  args:
    creates: /etc/.kubeadm-complete

- name: Mark init complete
  file:
    path: /etc/.kubeadm-complete
    state: directory

- name: Get join command
  shell: >
    cat /var/log/kubeadm.init.log | grep -A1 "kubeadm join" | tr -d '\n' | sed -e 's/\\//'
  register: kubeadm_join_output

- name: Set fact with join command
  set_fact:
    kubeadm_join_command: "{{ kubeadm_join_output.stdout }}"

# -------- Copy in admin.conf

# ---- Kube 1.6, apparently you can't use kubectl as root? weird/awesome.

  # sudo cp /etc/kubernetes/admin.conf $HOME/
  # sudo chown $(id -u):$(id -g) $HOME/admin.conf
  # export KUBECONFIG=$HOME/admin.conf

- name: Ensure .kube folder exists
  file:
    path: "{{ kubectl_home }}/.kube/"
    state: directory
    owner: "{{ kubectl_user }}"
    group: "{{ kubectl_group }}"
    mode: 0755

- name: Copy admin.conf to kubectl user's home
  shell: >
    cp -f /etc/kubernetes/admin.conf {{ kubectl_home }}/.kube/admin.conf
  args:
    creates: "{{ kubectl_home }}/admin.conf"

- name: Set admin.conf ownership
  file:
    path: "{{ kubectl_home }}/.kube/admin.conf"
    owner: "{{ kubectl_user }}"
    group: "{{ kubectl_group }}"

- name: Add KUBECONFIG env for admin.conf to .bashrc
  lineinfile:
    dest: "{{ kubectl_home }}/.bashrc"
    regexp: "KUBECONFIG"
    line: "export KUBECONFIG={{ kubectl_home }}/.kube/admin.conf"
