[Unit]
Description=kubectl-proxy

[Service]
User=centos
Group=centos
ExecStart=/bin/bash -c "source /home/centos/.bashrc && /usr/bin/kubectl proxy --port={{ kubectl_proxy_port }}"

[Install]
WantedBy=multi-user.target