IPV6INIT=yes
IPV6_AUTOCONF=no
IPV6_DEFROUTE=no
{% if ansible_hostname == 'kube-master' %}
IPV6ADDR=fd00::100/64
DNS1=fd00::64
{% elif ansible_hostname == 'kube-node-1' %}
IPV6ADDR=fd00::101/64
DNS1=fd00::64
{% elif ansible_hostname == 'kube-node-2' %}
IPV6ADDR=fd00::102/64
DNS1=fd00::64
{% elif ansible_hostname == 'kube-nat64-dns64' %}
IPV6ADDR=fd00::64/64
{% endif %}
ONBOOT=yes
NAME=eth1
DEVICE=eth1
NM_CONTROLLED=no